// Place all the styles related to the Foodbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$turqoise: #1ABC9C;
$greensea: #16A085;

$emerland: #2ECC71;
$nephritis: #27AE60;

$peterriver: #3498DB;
$belizehole: #2980B9;

$amethyst: #9B59B6;
$wisteria: #8E44AD;

$wetasphalt: #34495E;
$midnightblue: #2C3E50;

$sunflower: #F1C40F;
$orange: #F39C12;

$carrot: #E67E22;
$pumpkin: #D35400;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

$clouds: #ECF0F1;
$silver: #BDC3C7;

$concrete: #95A5A6;
$asbestos: #7F8C8D;

.fbthumbnail {
	border:1px solid $clouds;
	margin:0px 0px 32px 0px;
	padding: 0px 0px 20px 6px;
}

.centerall 
{
	text-align: center;
}

#mainbanner {
	text-align: center;
	background-position: center top;
    background-size: 100% auto;
    height: 800px;
}


#mbbackground{
	background-image:url('berries.jpg');
    background-position: center top;
    background-size: 100% auto;
    max-height: 100%;
}

.signin{
	padding: 24px 24px 24px 24px;
	border: 5px solid $clouds;
	margin: 100px 0 100px 0;
}